
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class='report'>
        <table id="ihmReport">
            <caption>Report</caption>
            <tr> <th>Weekly Costs</th> </tr>
            <tr> <td>$2,134.38</td> </tr>
            <tr> <td>7 work-days, 0 hours, 55 minutes, 0 seconds</td> </tr>
            <tr> <th>Averages</th> </tr>
            <tr> <th class='sub-category'>Costs Per Meeting</th> </tr>
            <tr> <td>$194.03</td> </tr>
            <tr> <td>0 work-days, 5 hours, 10 minutes, 27 seconds</td> </tr>
            <tr> <th class='sub-category'>Meeting Duration</th> </tr>
            <tr> <td>0 work-days, 0 hours, 28 minutes, 27 seconds</td> </tr>
            <tr> <th>Projected Yearly Costs</th> </tr>
            <tr> <td>$106,718.75</td> </tr>
            <tr> <td>355 work-days, 5 hours, 50 minutes, 0 seconds</td> </tr>
            <tr> <th>Top Meeting Times</th> </tr>
            <tr> <td>Wednesday, May 10, 2017 - 10:30</td> </tr>
            <tr> <td>Wednesday, May 10, 2017 - 10:45</td> </tr>
            <tr> <td>Tuesday, May 09, 2017 - 10:30</td> </tr>
            <tr> <th>Percent Time Spent in Meetings</th> </tr>
            <tr> <td>23.72%</td> </tr>
            <tr> <th>Ideal Yearly Costs</th> </tr>
            <tr> <td>$33,716.70</td> </tr>
            <tr> <td>112 work-days, 4 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Potential Savings</th> </tr>
            <tr> <th class='sub-category'>Weekly</th> </tr>
            <tr> <td>$1,458.36</td> </tr>
            <tr> <td>4 work-days, 6 hours, 55 minutes, 40 seconds</td> </tr>
            <tr> <th class='sub-category'>Yearly</th> </tr>
            <tr> <td>$72,917.98</td> </tr>
            <tr> <td>243 work-days, 2 hours, 23 minutes, 59 seconds</td> </tr>
        </table>
    </div>
</body>
</html>