<head>
    <meta charset="utf-8" />
    <title>Percent Time Spent in Meetings</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
</head>
<body>
    <img src="http://i.imgur.com/zBxQt6J.png" />
    <h1>Potential Savings</h1>
    <canvas id="myChart" width="700" height="500"></canvas>
    <!-- <p id="caption">caption here</p> -->
    <script>
        Chart.defaults.global.responsive = false;
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels : [{% for item in labels %}
                        "{{item}}",
                       {% endfor %}],
                datasets: [
                    {
                        label: [
                            {% for label in labels %}
                                "{{label}}",
                            {% endfor %}
                        ],
                        data: [
                            {% for value in values %}
                                {{value}},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            "#ff0000","#0079bf","#DDA0DD","#85bb65","#daa520",
                            "#9b59b6","#f1c40f","#e74c3c","#34495e","#008080",
                            "#ffc0cb","#d3ffce","#ff7373","#ffa500","#e6e6fa",
                            "#2ecc71","#20b2aa","#c6e2ff","#008000"
                        ] 
                    }
                ]
            }
        });
    </script>
</body>
