
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <img src="http://i.imgur.com/zBxQt6J.png" />
    <div class='report'>
        <table id="ihmReport">
            <caption>Meetings Report</caption>
            <tr>
                <th>Description</td>
                <th>Value</td>
            </tr>
            <tr>
                <td>Number of Meetings</td>
                <td>32</td>
            </tr>
            <tr>
                <td>Weekly Cost: Financial</td>
                <td>$4,303.12</td>
            </tr>
            <tr>
                <td>Weekly Cost: Time</td>
                <td>14 work-days, 2 hours, 45 minutes, 0 seconds</td>
            </tr>
            <tr>
                <td>Average Finanical Cost Per Meeting</td>
                <td>$134.47</td>
            </tr>
            <tr>
                <td>Average Time Cost Per Meeting</td>
                <td>0 work-days, 3 hours, 35 minutes, 9 seconds</td>
            </tr>
            <tr>
                <td>Average Duration Per Meeting</td>
                <td>0 work-days, 1 hour, 15 minutes, 39 seconds</td>
            </tr>
            <tr>
                <td>Projected Yearly Cost: Financial</td>
                <td>$215,156.25</td>
            </tr>
            <tr>
                <td>Projected Yearly Cost: Time</td>
                <td>717 work-days, 1 hour, 30 minutes, 0 seconds</td>
            </tr>
            <tr>
                <td>Top Meeting Time No. 1</td>
                <td>Wednesday, Jul 05, 2017 - 10:00</td>
            </tr>
            <tr>
                <td>Top Meeting Time No. 2</td>
                <td>Thursday, Jul 06, 2017 - 10:00</td>
            </tr>
            <tr>
                <td>Top Meeting Time No. 3</td>
                <td>Friday, Jul 07, 2017 - 10:00</td>
            </tr>
            <tr>
                <td>Percent Time Spent in Meetings</td>
                <td>47.81%</td>
            </tr>
            <tr>
                <td>Ideal Weekly Costs: Financial</td>
                <td>$674.33</td>
            </tr>
            <tr>
                <td>Ideal Weekly Costs: Time</td>
                <td>2 work-days, 2 hours, 0 minutes, 0 seconds</td>
            </tr>
            <tr>
                <td>Ideal Yearly Costs: Financial</td>
                <td>$33,716.70</td>
            </tr>
            <tr>
                <td>Ideal Yearly Costs: Time</td>
                <td>112 work-days, 4 hours, 0 minutes, 0 seconds</td>
            </tr>
            <tr>
                <td>Weekly Potential Savings: Financial</td>
                <td>$3,624.32</td>
            </tr>
            <tr>
                <td>Weekly Potential Savings: Time</td>
                <td>12 work-days, 0 hours, 44 minutes, 38 seconds</td>
            </tr>
            <tr>
                <td>Yearly Potential Savings: Financial</td>
                <td>$181,216.02</td>
            </tr>
            <tr>
                <td>Yearly Potential Savings: Time</td>
                <td>604 work-days, 5 hours, 12 minutes, 0 seconds</td>
            </tr>
            <tr>
                <th></td>
                <th></td>
            </tr>
        </table>
    </div>
</body>
</html>