
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class='report'>
        <table id="ihmReport">
            <caption>Report</caption>
            <tr> <th>Number of Meetings</th> </tr>
            <tr> <td>63</td> </tr>
            <tr> <th>Weekly Costs</th> </tr>
            <tr> <td>$2,700.00</td> </tr>
            <tr> <td>9 work-days, 0 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Averages</th> </tr>
            <tr> <th class='sub-category'>Costs Per Meeting</th> </tr>
            <tr> <td>$42.86</td> </tr>
            <tr> <td>0 work-days, 1 hour, 8 minutes, 34 seconds</td> </tr>
            <tr> <th class='sub-category'>Meeting Duration</th> </tr>
            <tr> <td>0 work-days, 0 hours, 27 minutes, 30 seconds</td> </tr>
            <tr> <th>Projected Yearly Costs</th> </tr>
            <tr> <td>$135,000.00</td> </tr>
            <tr> <td>450 work-days, 0 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Top Meeting Times</th> </tr>
            <tr> <td>Wednesday, May 10, 2017 - 10:30</td> </tr>
            <tr> <td>Wednesday, May 10, 2017 - 10:45</td> </tr>
            <tr> <td>Thursday, May 11, 2017 - 10:00</td> </tr>
            <tr> <th>Percent Time Spent in Meetings</th> </tr>
            <tr> <td>30.0%</td> </tr>
            <tr> <th>Ideal Weekly Costs</th> </tr>
            <tr> <td>$674.33</td> </tr>
            <tr> <td>2 work-days, 2 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Ideal Yearly Costs</th> </tr>
            <tr> <td>$33,716.70</td> </tr>
            <tr> <td>112 work-days, 4 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Potential Savings</th> </tr>
            <tr> <th class='sub-category'>Weekly</th> </tr>
            <tr> <td>$2,023.00</td> </tr>
            <tr> <td>6 work-days, 6 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th class='sub-category'>Yearly</th> </tr>
            <tr> <td>$101,150.10</td> </tr>
            <tr> <td>337 work-days, 4 hours, 0 minutes, 0 seconds</td> </tr>
        </table>
    </div>
</body>
</html>