
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <table id="ihmReport">
        <caption>Report</caption>
        <tr> <th>Weekly Costs</th> </tr>
        <tr> <td>$321.88</td> </tr>
        <tr> <td>1 work-day, 0 hours, 35 minutes, 0 seconds</td> </tr>
        <tr> <th>Averages</th> </tr>
        <tr> <th class='sub-category'>Costs Per Meeting</th> </tr>
        <tr> <td>$20.12</td> </tr>
        <tr> <td>0 work-days, 0 hours, 32 minutes, 11 seconds</td> </tr>
        <tr> <th>Meeting Duration</th> </tr>
        <tr> <td>0 work-days, 0 hours, 19 minutes, 3 seconds</td> </tr>
        <tr> <th>Projected Yearly Costs</th> </tr>
        <tr> <td>$16,093.75</td> </tr>
        <tr> <td>53 work-days, 5 hours, 10 minutes, 0 seconds</td> </tr>
        <tr> <th>Top Meeting Times</th> </tr>
        <tr> <td>Friday, May 05, 2017 - 09:15</td> </tr>
        <tr> <td>Friday, May 05, 2017 - 02:00</td> </tr>
        <tr> <td>Monday, May 08, 2017 - 09:00</td> </tr>
        <tr> <th class='sub-category'>2.15% of Your Time is Spent in Meetings</th> </tr>
        <tr> <th>Ideal Yearly Costs</th> </tr>
        <tr> <td>$37,463.00</td> </tr>
        <tr> <td>125 work-days, 0 hours, 0 minutes, 0 seconds</td> </tr>
        <tr> <th>Potential Savings</th> </tr>
        <tr> <th class='sub-category'>Weekly</th> </tr>
        <tr> <td>-$427.08</td> </tr>
        <tr> <td>-2 work-days, 4 hours, 36 minutes, 0 seconds</td> </tr>
        <tr> <th class='sub-category'>Yearly</th> </tr>
        <tr> <td>-$21,353.91</td> </tr>
        <tr> <td>-72 work-days, 6 hours, 0 minutes, 0 seconds</td> </tr>
    </table>
</body>
</html>