
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/i_heart_meetings/static/style.css">
    </head>
    <body>
        <table id="ihmReport">
            <caption>Report</caption>
            <tr> <th>Weekly Costs</th> </tr>
            <tr> <td>$303.12</td> </tr>
            <tr> <td>1 work-day, 0 hours, 5 minutes, 0 seconds</td> </tr>
            <tr> <th>Averages</th> </tr>
            <tr> <th>Costs Per Meeting</th> </tr>
            <tr> <td>$20.21</td> </tr>
            <tr> <td>0 work-days, 0 hours, 32 minutes, 20 seconds</td> </tr>
            <tr> <th>Meeting Duration</th> </tr>
            <tr> <td>0 work-days, 0 hours, 18 minutes, 20 seconds</td> </tr>
            <tr> <th>Projected Yearly Costs</th> </tr>
            <tr> <td>$15,156.25</td> </tr>
            <tr> <td>50 work-days, 4 hours, 10 minutes, 0 seconds</td> </tr>
            <tr> <th>Top Meeting Times</th> </tr>
            <tr> <td>Friday, May 05, 2017 - 09:15</td> </tr>
            <tr> <td>Friday, May 05, 2017 - 02:00</td> </tr>
            <tr> <td>Monday, May 08, 2017 - 09:00</td> </tr>
            <tr> <th>2.02% of Your Time is Spent in Meetings</th> </tr>
            <tr> <th>Ideal Yearly Costs</th> </tr>
            <tr> <td>$37,463.00</td> </tr>
            <tr> <td>125 work-days, 0 hours, 0 minutes, 0 seconds</td> </tr>
            <tr> <th>Potential Savings</th> </tr>
            <tr> <th>Weekly</th> </tr>
            <tr> <td>-$446.56</td> </tr>
            <tr> <td>-2 work-days, 4 hours, 4 minutes, 48 seconds</td> </tr>
            <tr> <th>Weekly Costs</th> </tr>
            <tr> <td>-$22,327.95</td> </tr>
            <tr> <td>-75 work-days, 4 hours, 0 minutes, 0 seconds</td> </tr>
        </table>
    </body>
    </html>