<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>I Heart Meetings</title>
    <link rel="stylesheet"  href="meeting_timer.css">
</head>
<body>
<div data-role="page" class="" id="mainPage">
    <div data-role="header" class="">
        <h1>I Heart Meetings</h1>
		<a href="#settingsPage" id='settingsButton' class="ui-btn-right" data-role="button" data-icon="gear">Add A Salary</a>
    </div>
    <div data-role="content" class="">
	    <p id="counter" hidden>0</p>
	    <p class="time">
	        <span id="hours">0</span> hours
	        <span id="mins">0</span> mins
	        <span id="secs">0</span> secs
	    </p>
		<div class="dollar-sign">&#36;</div>
		<h1 id="cost" style="text-align: center;">0</h1>
        <p style="text-align: center;">
            <button id="start" class="btn btn-info controlPress" data-role="button">Start</button>
        </p>
        <p style="text-align: center;">
			<button id="pause" class="btn btn-info controlRelease" data-role="button">Pause</button>
        </p>
        <p style="text-align: center;">
			<button id="stop" class="btn btn-info controlRelease" data-role="button">Reset</button>
        </p>
    </div>
</div>
<div data-role="page" class="" id="settingsPage" data-add-back-btn="true" >
    <div data-role="header" class="">
        <a href="#mainPage" class="ui-btn ui-icon-delete ui-btn-icon-left" data-rel="back">Save</a>
        <h1>Add A Salary</h1>
    </div>
    <div data-role="content" class="">
		<form id="salaryInputForm">
			 <div class="input-group text-center">
					<input type="password" id="newSalary" placeholder="Put Annual Salary Here (It's Hidden)"/>
			        <button id="newSalaryButton" class="btn btn-info" type="button">Add Salary</button>
			 </div>
		</form>
		<h3 id="totalSalaries"></h3>
        <!-- <form>
            <input type="number" name="tipPercentage" id="tipPercentage" value="" placeholder="Tip Percentage">
            <p style="text-align: center;">
                <a href="#" id='saveSettings' data-role="button" data-inline="true" data-icon="check">Save</a>
            </p>
        </form> -->
    </div>
</div>
<script src="meeting_timer.js"></script>
</body>
</html>
