<head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
</head>

<body>
    <h1>Simple Line Chart</h1>
    <canvas id="myChart" width="600" height="400"></canvas>
    <p id="caption">caption here</p>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        // Chart constructor takes 2 parameters - 1. reference to a canvas or
        // 2d drawing context 2.Obj literal containing the data for the chart.
        // Required are 'type' and 'data'
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['m', 'tu', 'w', 'th', 'f', 'sa', 'su'],
                datasets: [
                    {
                        data: [12, 19, 3, 17, 6, 3, 7],
                        backgroundColor: [
                            "#2ecc71",
                            "#3498db",
                            "#95a5a6",
                            "#9b59b6",
                            "#f1c40f",
                            "#e74c3c",
                            "#34495e"
                        ] 
                    }
                ]
            }
        });
    </script>
</body>
