<head>
    <meta charset="utf-8" />
    <title>When You Meet Most</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
</head>

<body>
    <h1>When You Meet Most</h1>
    <canvas id="myChart" width="700" height="500"></canvas>
    <!-- <p id="caption">caption here</p> -->
    <script>
        Chart.defaults.global.responsive = false;
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in labels %}
                        "{{item}}",
                       {% endfor %}],
                datasets: [
                    {
                        label: 'No. Meeting Attendees',
                        backgroundColor: "#0079bf", 
                        data : [{% for item in values %}
                                   {{item}},
                                 {% endfor %}]
                    }
                ]
            },
            options: {
                //responsive : true,
                showTooltips: true,
                scales: {
                    yAxes: [
                        {
                            stacked: false
                        }
                    ],   
                    xAxes: [
                        {
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 20
                            }
                        }
                    ]
                }
            }
        });
    </script>
</body>
