@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.report {
    margin: 2% 20%;
}

caption {
    font-size: 50px;
    padding: 2%
}

td:first-child {
    text-align: left;
}

table {
    width: 100%;
}

table, td {
    border: 3px solid white;
    border-collapse: collapse;
    background-color: #e9ecf2;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
    background-color: #3a3a3c;
    color: white;
}

td {
    text-align: right;
}
