@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

caption {
    font-size: 50px;
}

.sub-category {
    background-color: #7FC41C !important;
}

table {
    width:100%;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

td {
    text-align: right;
}

table#ihmReport tr:nth-child(even) {
    background-color: #eee;
}

table#ihmReport tr:nth-child(odd) {
   background-color:#fff;
}

table#ihmReport th {
    background-color: #FD9201;
    color: black;
}
7FC41C
1D98C4
